.axis line {
	stroke: rgba(128, 128, 128, 0.695);
}
.split {
	stroke: rgba(172, 172, 172, 0.421);
	stroke-dasharray: 20, 3;
}
.edgePaused {
	stroke-dasharray: 49 4;
	stroke-dashoffset: 4;
	animation: flowForward 0s linear infinite;
}
.edgeBackward {
	stroke-dasharray: 49 4;
	stroke-dashoffset: 4;
	animation: flowBackward linear infinite;
	animation-duration: 1s;
}
.edgeSlowed {
	stroke-dasharray: 49 4;
	stroke-dashoffset: 4;
	animation: flowForward linear infinite;
	animation-duration: 1s;
}
.edgeForward {
	stroke-dasharray: 49 4;
	stroke-dashoffset: 4;
	animation: flowForward linear infinite forwards;
	animation-duration: 0.3s;
}

.edge {
	stroke: rgb(0, 255, 110);
	animation: flowForward 1s linear infinite;
}
@keyframes flowBackward {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 51;
	}
}
@keyframes flowForward {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -51;
	}
}

.axis path {
	stroke: none;
}

.axis text {
	fill: grey;
}
.node {
	fill: rgb(219, 219, 219);
}
.cord {
	fill: rgba(128, 128, 128, 0.099);
}

.grad {
	background: linear-gradient(
		90.03deg,
		#d62839 0.03%,
		rgba(232, 232, 232, 0) 50%,
		#4ba3c3 99.97%
	);
}
