.axis line {
	stroke: rgba(128, 128, 128, 0.695);
}
.split {
	stroke: rgba(172, 172, 172, 0.421);
	stroke-dasharray: 20, 3;
}

.axis path {
	stroke: none;
}

.axis text {
	fill: grey;
}
rect {
	fill: rgba(128, 128, 128, 0.099);
}
