/*
.ef {
	stroke: green;
	stroke-dasharray: 9 1;
	stroke-dashoffset: 1;
	animation: flowForward 250ms linear infinite;
}
.e {
	stroke: green;
	stroke-dasharray: 9 1;
	stroke-dashoffset: 1;
	animation: flowForward 0s linear infinite;
}
@keyframes flowBackward {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 10;
	}
}
@keyframes flowForward {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -10;
	}
}*/

.backpropmode {
	filter: blur(10px);
	z-index: -1;
}
.regular {
}
